<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Me</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <a href="/" style="border: 2px solid rgb(222, 208, 208);border-radius: 2px;padding: 10px 20px;background-color: rgb(169, 209, 169);">Home</a>
    <a href="/contact" style="border: 2px solid rgb(222, 208, 208);border-radius: 2px;padding: 10px 20px;background-color: rgb(169, 209, 169);">Contact</a>
    <a href="/about" style="border: 2px solid rgb(222, 208, 208);border-radius: 2px;padding: 10px 20px;background-color: rgb(169, 209, 169);">About</a>
    <a href="/experience" style="border: 2px solid rgb(222, 208, 208);border-radius: 2px;padding: 10px 20px;background-color: rgb(169, 209, 169);">Experience</a>
  </nav>
  <section>
    <h1>About My Portfolio</h1>
    <p>Hello! I am a passionate developer skilled in full stack development. I enjoy building web applications and solving real-world problems with code. This portfolio showcases my work and projects.
        i am an 
    </p>
  </section>
</body>
</html>
